// Fuentes
$fuentePrincipal: 'Outfit', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$lg: 992px;
$desktop: 1200px;
$desktopxl: 1400px;

// Colores
$primario: #6F42C1;
$azul-oscuro: #1b1b32;
$negro: #000;
$blanco: #FFFFFF;
$gris: #f5f6f7;
$gris-oscuro: #8080804d;